.ServicesCardContainer{
    background-color: #d8d9db;
    display: flex;
    justify-content: center;
 
    
}
.container{
   margin-top: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 4px;
    width: 50%;
}